{% extends "base.html" %}
{% block content %}
    <div class="container-lg" style="background-color:white">
        <div class="row">
            <div class="col-8" style="border-right: solid #d7d9db;padding: 20px">
                <h1>OOPs</h1>
                <p>
                    <strong>OOP (Object Oriented Programming)</strong>, as the name implies, is a programming
                    paradigm that utilizes objects and classes into programming. The main concepts of Object-
                    Oriented Programming are:
                <ul>
                    <li>Classes</li>
                    <li>Objects</li>
                    <li>Polymorphism</li>
                    <li>Encapsulation</li>
                    <li>Inheritance</li>
                </ul>
                </p>
            </div>
            <div class="col-4">
                <img class="img-thumbnail" src="https://miro.medium.com/max/1142/1*GDZKZyaSfQGm8HL-CtYWtA.jpeg"
                     alt="OOPs Diagram"/>
            </div>
        </div>
        <div class="row" style="padding-top:25px">
            <div class="col-8" style="border-right: solid #d7d9db;padding: 20px">
                <h1>Glossary</h1>
                <p class="quote">
                    <strong>Instantiation -</strong><br/>
                    <strong>Object -</strong> An entity that has a state and behavior
                    associated with it.<br/>
                    <strong>Class -</strong><br/>
                    <strong>Namespace -</strong><br/>
                    <strong>Constructor -</strong><br/>
                    <strong>Fixture -</strong><br/>
                    <strong>Type Hint -</strong><br/>
                    <strong>Type Cast -</strong><br/>
                    <strong>Unit Test -</strong><br/>
                    <strong>Static -</strong><br/>
                    <strong>Instance Method -</strong><br/>
                    <strong>Instance Property -</strong><br/>
                    <strong>Static Method - </strong>A method that is bound to the class but not the object of the class.
                    Can't access or modify the class state. We usually use static methods for utility functions.
                    primarily a way to namespace your methods.<br/>
                    <strong>Static Property -</strong> <br/>
                    <strong>Encapsulation -</strong> The idea off wrapping data and the methods that work on the
                    data within one unit. This restricts the accessibility of variables and methods, preventing the
                    accidental modification of data. Object's variables can only be changed by an object's method.<br/>
                    <strong>Polymorphism -</strong> Objects can have many different forms<br/>
                    <strong>Abstraction - A blueprint for other classes. Creates a set of methods that must be created
                    in a child class built from the abstract class.</strong><br/>
                </p>
            </div>
            <div class="col-4">

                <p style="text-align: center"><i></i></p>
            </div>
        </div>


    </div>
{% endblock %}