{% extends "base.html" %}
{% block content %}
    <div class="container-lg" style="background-color:white">
        <div class="row">
            <div class="col-8" style="border-right: solid #d7d9db;padding: 20px">
                <h1>OOPs</h1>
                <p>
                    <strong>OOP (Object Oriented Programming)</strong>, as the name implies, is a programming
                    paradigm that utilizes objects and classes into programming. The main concepts of Object-
                    Oriented Programming are:
                <ul>
                    <li>Classes</li>
                    <li>Objects</li>
                    <li>Polymorphism</li>
                    <li>Encapsulation</li>
                    <li>Inheritance</li>
                </ul>
                </p>
            </div>
            <div class="col-4">
                <img class="img-thumbnail" src="https://miro.medium.com/max/1142/1*GDZKZyaSfQGm8HL-CtYWtA.jpeg"
                     alt="OOPs Diagram"/>
            </div>
        </div>
        <div class="row" style="padding-top:25px">
            <div class="col-8" style="border-right: solid #d7d9db;padding: 20px">
                <h1>Glossary</h1>
                <p class="quote">
                    <strong>Instantiation -</strong>creating a copy of a class which inherits
                    all class variables and methods<br/>
                    <strong>Object -</strong> An entity that has a state and behavior
                    associated with it.<br/>
                    <strong>Class -</strong> A user-defined blueprint or prototype from which objects are created<br/>
                    <strong>Namespace - A system that has a unique name for each object in python.
                    Python directories, such as the calculator folder containing the calculator py file.</strong><br/>
                    <strong>Constructor -</strong> used when instantiating an object. Assigns values to data members in the class<br/>
                    <strong>Fixture -</strong> Functions which run before test functions are ran. Feeds data to tests<br/>
                    <strong>Type Hint -</strong> Statically indicates the type of a value within python code<br/>
                    <code>def greet(name: str) -> str:</code><br/>
                    <strong>Type Cast -</strong>Used to specify what type you want a variable to be<br/>
                    Ex: <code>num = float(1)</code>
                    <strong>Unit Test -</strong> First level of software testing, the smallest testable parts of a software are tested.<br/>
                    https://www.geeksforgeeks.org/unit-testing-python-unittest/ - IMPORTANT FOR TESTING<br/>
                    <strong>Static Method - </strong>A method that is bound to the class but not the object of the class.
                    Can't access or modify the class state. We usually use static methods for utility functions.
                    primarily a way to namespace your methods.<br/>
                    <strong>Encapsulation -</strong> The idea off wrapping data and the methods that work on the
                    data within one unit. This restricts the accessibility of variables and methods, preventing the
                    accidental modification of data. Object's variables can only be changed by an object's method.<br/>
                    <strong>Polymorphism -</strong> Objects can have many different forms<br/>
                    <strong>Abstraction -</strong> A blueprint for other classes. Creates a set of methods that must be created
                    in a child class built from the abstract class.<br/>
                </p>
            </div>
            <div class="col-4">

                <p style="text-align: center"><i></i></p>
            </div>
            <div class="col-8">
                <h1>References</h1>
                <ul>
                    <li>
                        https://www.geeksforgeeks.org/
                    </li>
                </ul>
            </div>
        </div>



    </div>
{% endblock %}