{% extends "base.html" %}
{% block content %}
    <div class="container-lg" style="background-color:white">
        <div class="row">
            <div class="col-8" style="border-right: solid #d7d9db;padding: 20px">
                <h1>AAA Testing</h1>
                <p>
                    <strong>AAA (Arrange, Act, Assert)</strong> Testing allows for safer code
                    and allows developers to know when code breaks or a problem arises.
                </p>
                <p class="quote">
                    <strong>Arrange</strong> - Set up the test case. Depending on the test, there may be
                    certain objects or special objects needed to test a program or function.
                    These operations should be taken into consideration or executed at the very
                    beginning of the test.<br/><br/>
                    <strong>Act</strong> - Covers what needs to be tested. This could include calling
                    a function, method, interacting with a web page, or etc.
                    Say an operation returns a number, you could assign <code>num = operation()</code>. <br/><br/>
                    <strong>Assert</strong> - Assert the expected outcomes. This may be as simple as
                    checking a numeric/string value, or checking multiple properties of the system.
                    Continuing from the previous example, say you expect <code>operation()</code> to return 5.
                    For your test, you would have <code>assert num == 5</code>.
                    If <code>operation()</code> runs the way you expect, the test should pass when <code>num</code>
                    is checked, otherwise, the test will fail.

                </p>
            </div>
            <div class="col-4">
                <img class="img-thumbnail"
                     src="https://miro.medium.com/max/1200/1*_MiurxVJ3baRaV6s7r4vwA.png"
                     alt="AAA Testing">
            </div>
        </div>
        <div class="row" style="padding-top:25px">
            <div class="col-8" style="border-right: solid #d7d9db;padding: 20px">
                <h1>AAA Testing in Calculator</h1>
                <p>

                </p>
            </div>
            <div class="col-4">

                <p style="text-align: center"><i></i></p>
            </div>
        </div>
        <div class="row" style="padding-top:25px">
            <div class="col-8" style="border-right: solid #d7d9db;padding: 20px">
                <h1>References</h1>
                <ul>
                    <li></li>
                </ul>
            </div>
            <div class="col-4">

                <p style="text-align: center"><i></i></p>
            </div>
        </div>


    </div>
{% endblock %}