{% extends "base.html" %}
{% block content %}
<div class="container-lg" style="background-color:white">
    <div class="row">
        <div class="col-8" style="border-right: solid #d7d9db;padding: 20px">
            <h1>What is SOLID?</h1>
            <p>
                <i>SOLID</i> is an acyronym comprising of the five object-oriented design principles.
                These principles establish the practices for maintaining and extending a project.
                Despite what the acronym may imply, it is not an ordered list of actions to do.
                Rather, it is a guideline for good practices in programing to be followed.
                These principles apply to any object-oriented programming language
            </p>
            <p style="background-color:#d7d9db;border-radius: 10px;padding:10px;padding-left: 15px;margin:2px">
                        S - Single-Responisbility Principle<br/>
                        O - Open-closed Principle<br/>
                        L - Liskov Substitution Principle<br/>
                        I - Interface Segregation Principle<br/>
                        D - Dependency Inversion Principle
                    </p>
        </div>
        <div class="col-4">
            <img class="img-thumbnail" src="https://miro.medium.com/max/1200/1*EO-1GzcdEcaeDlMiP1btmg.jpeg" alt="SOLID">
            <p style="text-align: center"><i>SOLID Principles</i></p>
        </div>
    </div>
    <div class="row" style="padding-top:25px">
        <div class="col-8" style="border-right: solid #d7d9db;padding: 20px">
            <h1></h1>
            <p>

            </p>
        </div>
        <div class="col-4">

            <p style="text-align: center"><i></i></p>
        </div>
    </div>


</div>
{% endblock %}