{% extends "base.html" %}
{% block content %}
    <div class="container-lg" style="background-color:white">
        <div class="row">
            <div class="col-8" style="border-right: solid #d7d9db;padding: 20px">
                <h1>What is SOLID?</h1>
                <p>
                    <i>SOLID</i> is an acyronym comprising of the five object-oriented design principles.
                    These principles establish the practices for maintaining and extending a project.
                    Despite what the acronym may imply, it is not an ordered list of actions to do.
                    Rather, it is a guideline for good practices in programing to be followed.
                    These principles apply to any object-oriented programming language
                </p>
                <p class="quote">
                    S - Single-Responisbility Principle<br/>
                    O - Open-closed Principle<br/>
                    L - Liskov Substitution Principle<br/>
                    I - Interface Segregation Principle<br/>
                    D - Dependency Inversion Principle
                </p>
            </div>
            <div class="col-4">
                <img class="img-thumbnail" src="https://miro.medium.com/max/1200/1*EO-1GzcdEcaeDlMiP1btmg.jpeg"
                     alt="SOLID">
                <p style="text-align: center"><i>SOLID Principles</i></p>
            </div>
        </div>
        <div class="row" style="padding-top:25px">
            <div class="col-8" style="border-right: solid #d7d9db;padding: 20px">
                <h1>Single-Responsibility Principle</h1>
                <p>
                    The <strong>Single-Responsibility Principle</strong> states:<br/>
                    <span class="quote">"A class should have one
                    and only one reason to change"
                </span> <br/>
                    This principle simply states that a class or function should only have
                    <i>one and only one</i> responsibility. Due to that fact, there should
                    only be one reason to change it. Say you wanted to make a program that
                    finds the average and maximum/largest value in a list. Rather than having
                    a singular function that returns both values, the average and maximum should
                    be returned by two seperate functions that may be called upon. There are many
                    advantages to following this principle.
                <ul>
                    <li>Easier to localize errors</li>
                    <li>More instances of code reusability</li>
                    <li>Easier testing</li>
                </ul>
                This is shown in the calculator class as each operation such as add, subtract, divide,
                and multiply are their own functions.
                </p>
            </div>
            <div class="col-4">
                <img class="img-thumbnail" src="./static/images/calc_S.PNG" alt="calc program code"/>
                <p style="text-align: center">
                    <i>This example shows how the single responsiblity principle applies to the calculator
                        program. Each function has a single purpose</i></p>
            </div>
        </div>
        <div class="row" style="padding-top:25px">
            <div class="col-8" style="border-right: solid #d7d9db;padding: 20px">
                <h1>Open-Closed Principle</h1>
                <p>
                    The <strong>Open-Closed Principle</strong> states:<br>
                    <span class="quote">
                        "Objects or entities should be open for extension but closed for modification."
                    </span><br/>
                    For simplicity sake, this means that you shouldn't need to modify existing code
                    in order to add new functionality. Rather, add what you need and utilize the old
                    code. In the case of the calculator program, we would not need to modify the
                    addition and subtraction functions in order to add the multiplication and
                    division functionality. <br/> <br/>
                    <span style="margin-left:40px"></span>It is very likely, if not certain, that when working on a
                    project with multiple
                    developers at once, one will be looking through and adding functionality to existing code
                    that may or may not have been developed by themselves. So rather than going through
                    code that a developer may not understand exactly how it works, other than it just does,
                    they just add on top of the already existing functionality.

                </p>
            </div>
            <div class="col-4">
                <img class="img-thumbnail" src="./static/images/calc_O.PNG">
                <p style="text-align: center">
                    <i>
                        This example show how mutliplication and division functionality
                        was added to the calculator program without modifying the pre-existing
                        functions
                    </i>
                </p>
            </div>
        </div>
        <div class="row" style="padding-top:25px">
            <div class="col-8" style="border-right: solid #d7d9db;padding: 20px">
                <h1>Liskov Substitution Principle</h1>
                <p>
                    The <strong>Liskov Substitution Principle</strong> states:<br>
                    <span style="border-left:gray solid 5px; padding-left: 20px">"Functions that
                        use pointers or references to base classes must be able to use object of derived
                        classes without knowing."
                </span> <br/>


                </p>
            </div>
            <div class="col-4">

                <p style="text-align: center"><i></i></p>
            </div>
        </div>
        <div class="row" style="padding-top:25px">
            <div class="col-8" style="border-right: solid #d7d9db;padding: 20px">
                <h1>Interface Segregation Principle</h1>
                <p>
                    The <strong>Interface Segregation Principle</strong> states:<br>
                    <span class="quote">""
                </span> <br/>

                </p>
            </div>
            <div class="col-4">

                <p style="text-align: center"><i></i></p>
            </div>
        </div>
        <div class="row" style="padding-top:25px">
            <div class="col-8" style="border-right: solid #d7d9db;padding: 20px">
                <h1>Dependency Inversion Principle</h1>
                <p>
                    The <strong>Dependency Inversion Principle</strong> states:<br>
                    <span style="border-left:gray solid 5px; padding-left: 20px">""
                </span> <br/>

                </p>
            </div>
            <div class="col-4">

                <p style="text-align: center"><i></i></p>
            </div>
        </div>
        <div class="row" style="padding-top:25px">
            <div class="col-8" style="padding: 20px">
                <h1>References</h1>
                <ul>
                    <li>
                        https://towardsdatascience.com/solid-coding-in-python-1281392a6a94
                    </li>
                </ul>
            </div>
            <div class="col-4">

                <p style="text-align: center"><i></i></p>
            </div>
        </div>
    </div>
{% endblock %}